<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SIHA</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/chatbot/chatstyles.css?v=1.0.0.1">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
	integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
	rel="stylesheet">

<link rel="stylesheet" href="../css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="../css/animate.css">

<link rel="stylesheet" href="../css/owl.carousel.min.css">
<link rel="stylesheet" href="../css/owl.theme.default.min.css">
<link rel="stylesheet" href="../css/magnific-popup.css">

<link rel="stylesheet" href="../css/aos.css">

<link rel="stylesheet" href="../css/ionicons.min.css">

<link rel="stylesheet" href="../css/bootstrap-datepicker.css">
<link rel="stylesheet" href="../css/jquery.timepicker.css">


<link rel="stylesheet" href="../css/flaticon.css">
<link rel="stylesheet" href="../css/icomoon.css">
<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
		id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html"><i
				class="flaticon-pharmacy"></i><span>SIHA</span>Hospital</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#ftco-nav" aria-controls="ftco-nav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item "><a th:href="@{/user/index}"
						class="nav-link">Home</a></li>
					<li class="nav-item"><a th:href="@{/user/about}"
						class="nav-link">About</a></li>
					<li class="nav-item active"><a th:href="@{/user/departments}"
						class="nav-link">Departments</a></li>
					<li class="nav-item"><a th:href="@{/user/doctor}"
						class="nav-link">Doctors</a></li>
					<li class="nav-item"><a th:href="@{/user/blog}"
						class="nav-link">Blog</a></li>
					<li class="nav-item"><a th:href="@{/user/contact}"
						class="nav-link">Contact</a></li>
					<div id="connect"
						style="background-image: url('../images/chatbotimg.png'); height: 50px; width: 50px; background-position: center; radius: 50px">
					</div>
					<!-- 					<li class="nav-item cta"><a class="nav-link" -->
					<!-- 						data-toggle="modal" data-target="#modalAppointment"><span>Appointment</span></a></li> -->

					<div class="chat-box" style="margin-top: 50px;">
						<div class="chat-box-header">
							<div class='app'>
								<span id="start-record-btn"
									style='float: left; cursor: pointer; padding-left: 28px;'
									title="Start Recording"><i class="fa fa-microphone"></i></span>
							</div>
							Siha <span class="chat-box-toggle"><i class="fa fa-close"
								style="font-size: 24px"></i>
						</div>
						<div class="chat-box-body">
							<div class="chat-box-overlay"></div>
							<div class="chat-logs"></div>
						</div>
						<div class="chat-input">
							<form>
								<input type="text" id="chat-input"
									placeholder="Send a message..." />
								<button type="submit" class="chat-submit" id="chat-submit"
									title="Send Text">
									<i class="fa fa-send"></i>
								</button>
							</form>
						</div>
					</div>
			</div>
			<script src="/chatbot/chatscript.js?v=1.0.0.1"></script>
			&nbsp;&nbsp;&nbsp;
			<li class="nav-item ">
				<form th:action="@{/logout}" method="POST">


					<button type="submit" class="btn btn-danger">Logout</button>
				</form>
			</li>
			</ul>
		</div>
		</div>
	</nav>
	<!-- END nav -->

	<marquee height="25" width="100%" bgcolor="yellow">
		<h5>COVID-19 testing is available by appointment at our
			drive-through site at SIHA Hospital in Chennai and through SIHA’s
			Urgent Care Centers in TAMILNADU. Please do not use our emergency
			department for routine testing for COVID-19 if you have only been
			exposed or have mild symptoms</h5>
	</marquee>

	<div class="hero-wrap"
		style="background-image: url('../images/bg_6.jpg'); background-attachment: fixed;">
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate text-center">
					<p class="breadcrumbs">
						<span class="mr-2"><a href="index.html">Home</a></span> <span>Departments</span>
					</p>
					<h1 class="mb-3 bread">Departments</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-lg-6 d-flex ftco-animate">
					<div class="dept d-md-flex">
						<a href="department-single.html" class="img"
							style="background-image: url(../images/dept-1.jpg);"></a>
						<div class="text p-4">
							<h3>
								<a href="department-single.html">Dental Department</a>
							</h3>
							<p>
								<span class="loc"> 203 MCM st, Adayar, Chennai- 600005</span>
							</p>
							<p>
								<span class="doc">12 Doctors</span>
							</p>
							<p>A dentist, also known as a dental surgeon, is a health
								care professional who specializes in dentistry (the diagnosis,
								prevention, management, and treatment of diseases and conditions
								of the oral cavity and other aspects of the craniofacial complex
								including the temporomandibular joint).</p>
							<ul>
								<li><span class="ion-ios-checkmark"></span>Emergency</li>
								<li><span class="ion-ios-checkmark"></span>Laboratory</li>
								<li><span class="ion-ios-checkmark"></span>Dental</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 d-flex ftco-animate">
					<div class="dept d-md-flex">
						<a href="department-single.html" class="img"
							style="background-image: url(../images/dept-2.jpg);"></a>
						<div class="text p-4">
							<h3>
								<a href="department-single.html">Surgical Department</a>
							</h3>
							<p>
								<span class="loc"> 203 MCM st, Adayar, Chennai- 600005</span>
							</p>
							<p>
								<span class="doc">25 Doctors</span>
							</p>
							<p>Surgery is a major medical specialty that uses manual
								techniques to treat a pathological condition in patients. The
								classic surgical department of a hospital requires operating
								theaters with a professional surgical team to perform
								operations.</p>
							<ul>
								<li><span class="ion-ios-checkmark"></span>Emergency</li>
								<li><span class="ion-ios-checkmark"></span>Laboratory</li>
								<li><span class="ion-ios-checkmark"></span>Dental</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 d-flex ftco-animate">
					<div class="dept d-md-flex">
						<a href="department-single.html" class="img"
							style="background-image: url(../images/dept-3.jpg);"></a>
						<div class="text p-4">
							<h3>
								<a href="department-single.html">Neurological Department</a>
							</h3>
							<p>
								<span class="loc"> 203 MCM st, Adayar, Chennai- 600005</span>
							</p>
							<p>
								<span class="doc">22 Doctors</span>
							</p>
							<p>The Neurology department specialises in the diagnosis and
								treatment of disorders of the nervous system – including the
								brain, spinal cord, peripheral nerves and muscles.</p>
							<ul>
								<li><span class="ion-ios-checkmark"></span>Emergency</li>
								<li><span class="ion-ios-checkmark"></span>Laboratory</li>
								<li><span class="ion-ios-checkmark"></span>Dental</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 d-flex ftco-animate">
					<div class="dept d-md-flex">
						<a href="department-single.html" class="img"
							style="background-image: url(../images/dept-4.jpg);"></a>
						<div class="text p-4">
							<h3>
								<a href="department-single.html">Ophthalmological Department</a>
							</h3>
							<p>
								<span class="loc"> 203 MCM st, Adayar, Chennai- 600005</span>
							</p>
							<p>
								<span class="doc">22 Doctors</span>
							</p>
							<p>Ophthalmology is the study of medical conditions relating
								to the eye. Ophthalmologists are doctors who specialize in the
								medical and surgical treatment of this organ.</p>
							<ul>
								<li><span class="ion-ios-checkmark"></span>Emergency</li>
								<li><span class="ion-ios-checkmark"></span>Laboratory</li>
								<li><span class="ion-ios-checkmark"></span>Dental</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Laboratory Test</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div id="accordion">
						<div class="row">
							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menuone"
											aria-expanded="true" aria-controls="menuone">Tummy Tuck <small>$79.00</small><span
											class="collapsed"><i class="icon-plus-circle"></i></span><span
											class="expanded"><i class="icon-minus-circle"></i></span></a>
									</div>
									<div id="menuone" class="collapse show">
										<div class="card-body">
											<p>During a tummy tuck, excess skin and fat are removed
												from the abdomen. The skin is then draped back over the
												newly repositioned contours to create a smoother and more
												toned look. A tummy tuck — also known as abdominoplasty — is
												a cosmetic surgical procedure to improve the shape and
												appearance of the abdomen.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menutwo"
											aria-expanded="false" aria-controls="menutwo">Liposuction
											<small>$59.00</small> <span class="collapsed"><i
												class="icon-plus-circle"></i></span><span class="expanded"><i
												class="icon-minus-circle"></i></span>
										</a>
									</div>
									<div id="menutwo" class="collapse">
										<div class="card-body">
											<p>Liposuction is a surgical procedure that uses a
												suction technique to remove fat from specific areas of the
												body, such as the abdomen, hips, thighs, buttocks, arms or
												neck. Liposuction also shapes (contours) these areas. Other
												names for liposuction include lipoplasty and body
												contouring.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menu3"
											aria-expanded="false" aria-controls="menu3">Cosmetic
											Surgery <small>$199.00</small> <span class="collapsed"><i
												class="icon-plus-circle"></i></span><span class="expanded"><i
												class="icon-minus-circle"></i></span>
										</a>
									</div>
									<div id="menu3" class="collapse">
										<div class="card-body">
											<p>Improving aesthetic appeal, symmetry, and proportion
												are the key goals. An aesthetic surgery can be performed on
												all areas of the head, neck, and body. Since cosmetic
												procedures treat areas that function properly, cosmetic
												surgery is designated as elective.</p>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menu4"
											aria-expanded="false" aria-controls="menu4">Facial
											Reconstruciton <small>$120.00</small> <span class="collapsed"><i
												class="icon-plus-circle"></i></span><span class="expanded"><i
												class="icon-minus-circle"></i></span>
										</a>
									</div>
									<div id="menu4" class="collapse">
										<div class="card-body">
											<p>To rebuild structures of the face, a facial plastic
												surgeon may use tissues from the person's body, such as a
												microvascular free tissue transfer, or “free flap,” where
												the surgeon takes skin, bone or muscle from one part of the
												person's body to reconstruct new facial features.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menu5"
											aria-expanded="false" aria-controls="menu5">Breast
											implants <small>$99.00</small><span class="collapsed"><i
												class="icon-plus-circle"></i></span><span class="expanded"><i
												class="icon-minus-circle"></i></span>
										</a>
									</div>
									<div id="menu5" class="collapse">
										<div class="card-body">
											<p>A breast implant is a prosthesis used to change the
												size, shape, and contour of a person's breast. In
												reconstructive plastic surgery, breast implants can be
												placed to restore a natural looking breast following a
												mastectomy, to correct congenital defects and deformities of
												the chest wall or, cosmetically, to enlarge the appearance
												of the breast through breast augmentation surgery.</p>
										</div>
									</div>
								</div>

								<div class="card">
									<div class="card-header">
										<a class="card-link" data-toggle="collapse" href="#menu6"
											aria-expanded="false" aria-controls="menu6">Ear Pinning <small>$79.00</small><span
											class="collapsed"><i class="icon-plus-circle"></i></span><span
											class="expanded"><i class="icon-minus-circle"></i></span></a>
									</div>
									<div id="menu6" class="collapse">
										<div class="card-body">
											<p>Ear pinning is surgery to angle the ears closer to the
												head to make them less prominent. Typically, a surgeon will
												perform this surgery on children aged 5 or 6, but
												occasionally adults choose to undergo ear pinning for
												cosmetic reasons.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section ftco-animate text-center">
					<h2 class="mb-4">Our Experienced Doctors</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-1.jpg);">
								<div class="box">
									<h2>Kollipara vamsi</h2>
									<p>Neurologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;Neurologists are specialists who treat diseases
										of the brain and spinal cord, peripheral nerves and muscles.
										Neurological conditions include epilepsy, stroke, multiple
										sclerosis (MS) and Parkinson's disease&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-1.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Kollipara vamsi</ <span class="position">Neurologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-2.jpg);">
								<div class="box">
									<h2>Rajkamal</h2>
									<p>Pediatrician</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;A pediatrician is a child physician who provides
										medical care for children, who have an acute or chronic
										illness and also preventive measures for healthy growth and
										development.&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-2.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Rajkamal <span class="position">Pediatrician</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-3.jpg);">
								<div class="box">
									<h2>Logabharathi</h2>
									<p>Ophthalmologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;An ophthalmologist diagnoses and treats all eye
										diseases, performs eye surgery and prescribes and fits
										eyeglasses and contact lenses to correct vision problems.
										&rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-3.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Logabharathi <span class="position">Ophthalmologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
				<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="block-2">
						<div class="flipper">
							<div class="front"
								style="background-image: url(../images/doctor-4.jpg);">
								<div class="box">
									<h2>Naveen kumar</h2>
									<p>Pulmonologist</p>
								</div>
							</div>
							<div class="back">
								<!-- back content -->
								<blockquote>
									<p>&ldquo;A pulmonologist is a doctor who specializes in
										lung conditions. A pulmonologist diagnoses and treats diseases
										of the respiratory system. You might hear these healthcare
										providers called lung specialists. &rdquo;</p>
								</blockquote>
								<div class="author d-flex">
									<div class="image mr-3 align-self-center">
										<div class="img"
											style="background-image: url(../images/doctor-4.jpg);"></div>
									</div>
									<div class="name align-self-center">
										Naveen kumar <span class="position">Pulmonologist</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- .flip-container -->
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 ftco-animate">
					<h4>We are well experienced doctors</h4>
					<p>“Physicians should be personable, great listeners, and
						empathetic to the concerns of their patients,” he elaborates.
						“They should not be condescending or arrogant. They should treat
						others as they want to be treated.” “Physicians should be
						personable, great listeners, and empathetic to the concerns of
						their patients.”</p>
				</div>
			</div>
		</div>
	</section>
	<section class="ftco-section-parallax">
		<div class="parallax-img d-flex align-items-center">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div
						class="col-md-7 text-center heading-section heading-section-white ftco-animate">
						<h2>Subcribe to our Newsletter</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia, there live the blind texts.
							Separated they live in</p>
						<div class="row d-flex justify-content-center mt-5">
							<div class="col-md-8">
								<form action="#" class="subscribe-form">
									<div class="form-group d-flex">
										<input type="text" class="form-control"
											placeholder="Enter email address"> <input
											type="submit" value="Subscribe" class="submit px-3">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="ftco-footer ftco-bg-dark ftco-section img"
		style="background-image: url(images/bg_5.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">SIHA</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia, there live the blind texts.</p>
						<ul
							class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
							<li class="ftco-animate"><a href="#"><span
									class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span
									class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4 ml-md-5">
						<h2 class="ftco-heading-2">Information</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Appointments</a></li>
							<li><a href="#" class="py-2 d-block">Our Specialties</a></li>
							<li><a href="#" class="py-2 d-block">Why Choose us</a></li>
							<li><a href="#" class="py-2 d-block">Our Services</a></li>
							<li><a href="#" class="py-2 d-block">health Tips</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Site Links</h2>
						<ul class="list-unstyled">
							<li><a href="#" class="py-2 d-block">Home</a></li>
							<li><a href="#" class="py-2 d-block">About</a></li>
							<li><a href="#" class="py-2 d-block">Departments</a></li>
							<li><a href="#" class="py-2 d-block">Doctors</a></li>
							<li><a href="#" class="py-2 d-block">Blog</a></li>
							<li><a href="#" class="py-2 d-block">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span
									class="text">203 MCM st, Adayar, Chennai- 600005</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span
										class="text">+91 9853543210</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span
										class="text">info@siha.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen">
		<svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none"
				stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalAppointment" tabindex="-1"
		role="dialog" aria-labelledby="modalAppointmentLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAppointmentLabel">Appointment</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/user/save-app}" th:object="${app}"
						method="POST">

						<div class="form-group">
							<label for="appointment_name" class="text-black">Full
								Name</label> <input type="text" th:field="*{name}" class="form-control"
								id="appointment_name">
						</div>


						<div class="form-group">
							<label for="appointment_email" class="text-black">Email</label> <input
								type="text" th:field="*{email}" class="form-control"
								id="appointment_email">
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_date" class="text-black">Date</label> <input
										type="text" th:field="*{date}" class="form-control"
										id="appointment_date">
								</div>
							</div>


							<div class="col-md-6">
								<div class="form-group">
									<label for="appointment_time" class="text-black">Time</label> <input
										type="text" th:field="*{time}" class="form-control"
										id="appointment_time">
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="appointment_message" class="text-black">Message</label>
							<textarea th:field="*{description}" id="appointment_message"
								class="form-control" cols="15" rows="5"></textarea>
						</div>

						<div class="form-group" align="center">
							<input type="submit" value="Book" class="btn btn-primary">
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>


	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery-migrate-3.0.1.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
	<script src="../js/jquery.waypoints.min.js"></script>
	<script src="../js/jquery.stellar.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/jquery.magnific-popup.min.js"></script>
	<script src="../js/aos.js"></script>
	<script src="../js/jquery.animateNumber.min.js"></script>
	<script src="../js/bootstrap-datepicker.js"></script>
	<script src="../js/jquery.timepicker.min.js"></script>
	<script src="../js/scrollax.min.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="../js/google-map.js"></script>
	<script src="../js/main.js"></script>

</body>
</html>